<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiongxh.cryptocoin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".CryptoCoinApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".coins.CoinsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".coindetails.CoinDetailActivity" />

        <service
            android:name=".sync.CoinSyncIntentService"
            android:exported="false" />

        <provider
            android:name=".data.CoinProvider"
            android:authorities="com.xiongxh.cryptocoin"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".sync.CoinTaskService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".sync.DetailIntentService"
            android:exported="false" />
        <service
            android:name=".sync.DetailTaskService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>